#wpfooter {
    display: none;
}
.nav.nav-pills.navbar-default {
    padding: 5px 5px 0 5px;
}

.nav.nav-pills.navbar-default li {
    margin-right: 5px;
}

.breadcrumb {
    margin-top: 20px;
}

.breadcrumb h1 {
    margin-top: 5px;
}

.modal-open .modal {
}

.modal-dialog {
    width: 60%;
    z-index: 500;
}

article {
    overflow: hidden;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
}

article h3 {
    font-size: 16px;
    margin: 0;
    font-weight: bolder;
}


.panel-heading h2 {
    margin: 0;
    font-size: 18px;
    line-height: 35px;
}

.ui-datepicker {
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1500 !important;
    width: 500px !important;
    padding: 5px;
}
.ui-datepicker > .ui-datepicker-group {
    width: 100% !important;
    background-color: #ddd;
    border-right: 5px solid white;
}
.ui-datepicker .ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-calendar thead  {
    background-color: #337ab7;
    color: white;
    text-align: center;
}

.ui-datepicker-calendar thead th {
    text-align: center;
    border-right: 1px solid white;
}

.picker .input {
    display: flex;
}

.ui-datepicker-calendar {
    border-left: 1px solid #ccc;
}

.ui-datepicker-calendar tbody tr {
    border-bottom: 1px solid #ccc;
}

.ui-datepicker-calendar tbody tr td {
    border-right: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.timepicker-wrapper {
    display: flex;
    justify-content: space-between;
}

.timepicker {
    width: 49%;
}

.ui-datepicker-calendar tbody tr td a {
    color: #333;
    padding: 5px;
}

.ui-datepicker-calendar tbody tr td:hover {
    background-color: #333;
}

.ui-datepicker-calendar tbody tr td:hover a {
    color: white;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px 5px 5px;
}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
    text-decoration: none;
    background-color: #337ab7;
    color: white;
}

.ui-datepicker .ui-datepicker-prev {
    float: left;
    margin-left: 0;
}
.ui-datepicker .ui-datepicker-next {
    float: right;
    margin-right: 0;
}

.ui-datepicker .ui-datepicker-title {
    text-align: center;
}

.imageupload .file-tab.panel-body img {
    width: 100% !important;
}

article h4 {
    font-size: 14px;
}

.event .attachment-thumbnail {
    width: 100%;
    height: auto;
}

.event h4 {
    margin: 0;
    background-color: grey;
    color: white;
    padding: 5px 7px;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.event h3 {
    margin-bottom: 10px;
}

.event .event-date,
.event .event-time {

}

.event .event-date > div,
.event .event-time > div {
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 0 0 3px 3px ;
    overflow: hidden;
}

.event .event-date p,
.event .event-time p {
    margin: 0;
}

.filters {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.filters .form-group {
    margin-bottom: 0;
}

div.zabuto_calendar .badge {
    width: 100%;
    border-radius: 0;
}

.event-listing {

}

.loading-indicator {
    display: none;
}