.event {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top: 5px;
}

.event h3 {
    margin-top: 0;
    margin-bottom: 15px !important;
    color: #d20012 !important;
}

.event h4 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}


.day .badge {
    width: 100%;
}

.btn.btn-primary {
    background-color: #d20012 !important;
    border: 1px solid #d20012 !important;
}

.btn.btn-primary:hover {
    opacity: 0.8    ;
}

.event-date,
.event-time {
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.event-date div,
.event-time div {
    padding: 5px;
    background-color: #eee;
    text-align: center;
    font-weight: bolder;
}

.event-date div p,
.event-time div p {
    margin-bottom: 0;
}